# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: go-checks
on: workflow_call

env:
  TERRAFORM_VERSION: 1.11.4
  OPA_VERSION: 1.4.2
  GOLANGCI_LINT_VERSION: 2.1
  GOTEST_FMT_VERSION: 2.5.0

jobs:
  lint-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with:
          version: v${{ env.GOLANGCI_LINT_VERSION }}

  lint-buildkite-plugin:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - run: docker compose run --rm buildkite-plugin-lint

  test-go:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{  env.TERRAFORM_VERSION }}
          # this needs to be set as false otherwise the wrapper leads to issues with how its used in the plugin
          terraform_wrapper: false

      - name: Setup OPA
        uses: open-policy-agent/setup-opa@34a30e8a924d1b03ce2cf7abe97250bbb1f332b5 # v2.2.0
        with:
          version: ${{ env.OPA_VERSION}}

      - name: Set up gotestfmt
        uses: GoTestTools/gotestfmt-action@8b4478c7019be847373babde9300210e7de34bfb # v2.2.0
        with:
          version: v${{ env.GOTEST_FMT_VERSION }}

      # Run tests with nice formatting. Save the original log in /tmp/gotest.log
      # This will run unit tests, integration tests, and e2e tests.
      - name: Run Tests
        run: |
          set -euo pipefail
          go test -json -v -tags="e2e,integration" ./... 2>&1 | tee /tmp/gotest.log | gotestfmt

      # Upload the original go test log as an artifact for later review.
      # - name: Upload test log
      #   uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      #   with:
      #     name: test-log
      #     path: /tmp/gotest.log
      #     if-no-files-found: error

      # - name: Archive code coverage results
      #   uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      #   with:
      #     name: code-coverage
      #     path: coverage.txt

  # code-coverage-report:
  #   runs-on: ubuntu-latest
  #   needs: unit-tests
  #   permissions:
  #     contents: read
  #     actions: read
  #     pull-requests: write
  #   steps:
  #     - uses: fgrosse/go-coverage-report@8c1d1a09864211d258937b1b1a5b849f7e4f2682 # v1.2.0

  # TODO:
  # e2e tests
  # integration tests
  # go vet tests
  # go fmt tests
  # go mod tidy tests ?
  # go mod verify tests ?
