# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: generate-changelog
run-name: generate-changelog ${{ github.sha }} by @${{ github.actor }}

on:
  workflow_dispatch:
  workflow_run:
    workflows: [release]
    types: [completed]
    branches: [main]

jobs:
  changelog:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to commit changes
      pull-requests: write # to be able to create pull requests
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
        with:
          fetch-depth: 0
      - uses: orhun/git-cliff-action@4a4a951bc43fafe41cd2348d181853f52356bee7 # v4.4.2
        id: git-cliff
        with:
          version: latest
          args: -vv --latest --prepend CHANGELOG.md --no-exec # https://git-cliff.org/docs/usage/args
        env:
          GITHUB_REPO: ${{ github.repository }}
      - name: Get Release Version
        run: echo "RELEASE_TAG=$(git describe --tags --abbrev=0)" >> "$GITHUB_ENV"
      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          add-paths: CHANGELOG.md
          commit-message: "chore(release): update changelog after ${{ env.RELEASE_TAG }}"
          title: "chore(release): update changelog"
          body: |
            :robot: Update changelog after the release of [${{ env.RELEASE_TAG }}](https://github.com/${{ github.repository }}/releases/tag/${{ env.RELEASE_TAG }})
            <details><summary>Changelog Details</summary>

            ${{ steps.git-cliff.outputs.content }}
            </details>
          branch: "chore/update-changelog"
          base: main
