# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: go-checks
on: workflow_call

env:
  TERRAFORM_VERSION: 1.11.4
  OPA_VERSION: 1.4.2
  GOLANGCI_LINT_VERSION: 2.1
  GOTEST_FMT_VERSION: 2.5.0

jobs:
  lint-go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with:
          version: v${{ env.GOLANGCI_LINT_VERSION }}

      - name: Run go mod tidy
        run: go mod tidy

      - name: Verify no go.mod changes were made
        uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf # v20.0.4
        with:
          files: |
            go.mod
            go.sum
          fail-if-changed: true
          fail-message: "go.mod or go.sum needs tidying. Please run 'go mod tidy' and commit the changes."

      - name: Verify go modules
        run: go mod verify

  lint-buildkite-plugin:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - run: docker compose run --rm buildkite-plugin-lint

  test-go:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{  env.TERRAFORM_VERSION }}
          # this needs to be set as false otherwise the wrapper leads to issues with how its used in the plugin
          terraform_wrapper: false

      - name: Setup OPA
        uses: open-policy-agent/setup-opa@34a30e8a924d1b03ce2cf7abe97250bbb1f332b5 # v2.2.0
        with:
          version: ${{ env.OPA_VERSION}}

      - name: Set up gotestfmt
        uses: GoTestTools/gotestfmt-action@8b4478c7019be847373babde9300210e7de34bfb # v2.2.0
        with:
          version: v${{ env.GOTEST_FMT_VERSION }}

      # Run tests with nice formatting and generate JUnit XML for reporting
      # This will run unit tests, integration tests, and e2e tests.
      - name: Run Tests
        run: |
          set -euo pipefail
          go tool gotest.tools/gotestsum --junitfile test-results.xml --format github-actions -- -v -tags="e2e,integration" ./...

      # Generate test report annotations in GitHub UI
      - name: Test Report
        uses: mikepenz/action-junit-report@a83fd2b5d58d4fc702e690c1ea688d702d28d281 # v5.6.1
        if: ${{ !cancelled() }} # run this step even if previous step failed
        with:
          report_paths: test-results.xml
          check_name: Go Test Results
          fail_on_failure: true
          require_tests: true

  fresh-check-schema:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Generate schema and check for changes
        run: |
          # Run schema generation
          go run ./tools/schema/

      - name: Verify no changes were made
        uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf # v20.0.4
        with:
          files: plugin.yml
          fail-if-changed: true
          fail-message: "Schema generation made changes to the plugin.yml file. Please run 'just generate-schema' and commit these changes to update the schema."

  # code-coverage-report:
  #   runs-on: ubuntu-latest
  #   needs: unit-tests
  #   permissions:
  #     contents: read
  #     actions: read
  #     pull-requests: write
  #   steps:
  #     - uses: fgrosse/go-coverage-report@8c1d1a09864211d258937b1b1a5b849f7e4f2682 # v1.2.0

  # TODO:
  # e2e tests
  # integration tests
