# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: pipeline
on: push

jobs:
  changed-files:
    runs-on: ubuntu-latest
    outputs:
      markdown_any_changed: ${{ steps.changed-files.outputs.markdown_any_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - id: changed-files
        uses: tj-actions/changed-files@v46
        with:
          files_yaml: |
            markdown:
              - '**/*.md'

  markdown:
    needs: [changed-files]
    if: |
      github.ref == 'refs/heads/main' ||
      needs.changed-files.outputs.markdown_any_changed == 'true'
    uses: ./.github/workflows/markdown.yaml
    secrets: inherit

  pipeline-success:
    runs-on: ubuntu-latest
    needs:
      - markdown
    if: always()
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: ""
          jobs: ${{ toJSON(needs) }}
