# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: pipeline
on:
  - push

jobs:
  changed-files:
    runs-on: ubuntu-latest
    outputs:
      markdown_any_changed: ${{ steps.changed-files.outputs.markdown_any_changed }}
      golang_any_changed: ${{ steps.changed-files.outputs.golang_any_changed }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46
        with:
          files_yaml: |
            markdown:
              - '**/*.md'
            golang:
              - '**/*.go'
              - '**/go.mod'
              - '**/go.sum'

  markdown:
    needs: [changed-files]
    if: |
      github.ref == 'refs/heads/main' ||
      needs.changed-files.outputs.markdown_any_changed == 'true'
    uses: .github/workflows/pipeline.yaml
    secrets: inherit

  golang:
    needs: [changed-files]
    if: |
      github.ref == 'refs/heads/main' ||
      needs.changed-files.outputs.golang-checks_any_changed == 'true'
    uses: .github/workflows/go-checks.yaml
    secrets: inherit

  pipeline-success:
    runs-on: ubuntu-latest
    needs:
      - markdown
    if: always()
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1
        with:
          allowed-skips: ""
          jobs: ${{ toJSON(needs) }}
