# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: pipeline

# https://github.com/tj-actions/changed-files#on-push-%EF%B8%8F
# Using GitHub's API is not supported for push events in tj-actions/changed-files
on:
  push:

jobs:
  find-changed-files:
    runs-on: ubuntu-latest
    outputs:
      markdown_any_changed: ${{ steps.changed-files.outputs.markdown_any_changed }}
      golang_any_changed: ${{ steps.changed-files.outputs.golang_any_changed }}
      action_any_changed: ${{ steps.changed-files.outputs.action_any_changed }}
      cspell_any_changed: ${{ steps.changed-files.outputs.cspell_any_changed }}
      scripts_any_changed: ${{ steps.changed-files.outputs.scripts_any_changed }}
      any_changed: ${{ steps.changed-files.outputs.any_changed }}

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      # see https://github.com/tj-actions/changed-files#examples- for ways we could improve this
      # for example only trigger on changes since last successful run on this branch
      # currently we trigger based on all changes on this branch
      - name: Find changed files
        id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46
        with:
          base_sha: refs/remotes/origin/main
          files_yaml: |
            markdown:
              - '**.md'
              - 'markdownlint.yml
            golang:
              - '**.go'
              - 'go.mod'
              - 'go.sum'
              - 'README.md'
              - '.golangci.yml'
              - '.goreleaser.yml'
            action:
              - '.github/**'
            cspell:
              - '!go.mod'
              - '!go.sum'
              - '!LICENSE'
              - '!.golangci.yml'
            scripts:
              - '**.sh'
              - '**.bash'
              - 'hooks/**'

  markdown:
    needs: [find-changed-files]
    if: |
      github.ref == 'refs/heads/main' ||
      needs.find-changed-files.outputs.markdown_any_changed == 'true'
    uses: ./.github/workflows/markdown.yml
    secrets: inherit

  cspell:
    needs: [find-changed-files]
    if: |
      github.ref == 'refs/heads/main' ||
      needs.find-changed-files.outputs.cspell_any_changed == 'true'
    uses: ./.github/workflows/cspell.yml
    secrets: inherit

  action:
    needs: [find-changed-files]
    if: |
      github.ref == 'refs/heads/main' ||
      needs.find-changed-files.outputs.action_any_changed == 'true'
    uses: ./.github/workflows/actionlint.yml
    secrets: inherit

  scripts:
    needs: [find-changed-files]
    if: |
      github.ref == 'refs/heads/main' ||
      needs.find-changed-files.outputs.scripts_any_changed == 'true'
    uses: ./.github/workflows/scripts.yml
    secrets: inherit

  golang:
    needs: [find-changed-files]
    if: |
      github.ref == 'refs/heads/main' ||
      needs.find-changed-files.outputs.golang_any_changed == 'true'
    uses: ./.github/workflows/go-checks.yml
    secrets: inherit

  pipeline-success:
    runs-on: ubuntu-latest
    needs:
      - markdown
      - golang
      - action
      - cspell
      - scripts
    if: always()
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1
        id: check-pipeline
        with:
          allowed-skips: "markdown,golang,action,cspell,scripts"
          jobs: ${{ toJSON(needs) }}
