# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: release
run-name: release ${{ github.sha }} by @${{ github.actor }}

on:
  pull_request:
    branches:
      # temporary for now to validate the workflow
      - ci/enable-all-tests-on-pre-release
    types:
      - closed

# Later, in the jobs section of your actions.yml file.
jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo The PR was successfully merged.
