# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: release
run-name: release ${{ github.sha }} by @${{ github.actor }}

on:
  # when triggered by pipeline.yml
  workflow_call:
  # when manually triggered
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          # Allow goreleaser to access older tag information.
          fetch-depth: 0
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: "go.mod"
          cache: true
      - name: Run go-semantic-release
        uses: go-semantic-release/action@2e9dc4247a6004f8377781bef4cb9dad273a741f # v1.24.1
        with:
          hooks: goreleaser
          allow-initial-development-versions: true
          prerelease: ${{ github.ref_name == 'main' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  changelog:
    runs-on: ubuntu-latest
    needs: [release]
    permissions:
      contents: write # to be able to commit changes
      pull-requests: write # to be able to create pull requests
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
        with:
          fetch-depth: 0

      - uses: orhun/git-cliff-action@4a4a951bc43fafe41cd2348d181853f52356bee7 # v4.4.2
        id: git-cliff
        with:
          version: latest
          args: -vv --latest --prepend CHANGELOG.md --no-exec # https://git-cliff.org/docs/usage/args
        env:
          GITHUB_REPO: ${{ github.repository }}

      - name: Get Release Version
        run: echo "RELEASE_TAG=$(git describe --tags --abbrev=0)" >> "$GITHUB_ENV"

      - uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          add-paths: CHANGELOG.md
          commit-message: "chore(release): update changelog after ${{ env.RELEASE_TAG }}"
          title: "chore(release): update changelog"
          body: |
            :robot: Update changelog after the release of [${{ env.RELEASE_TAG }}](https://github.com/${{ github.repository }}/releases/tag/${{ env.RELEASE_TAG }})
            <details><summary>Changelog Details</summary>

            ${{ steps.git-cliff.outputs.content }}
            </details>
          branch: "chore/update-changelog"
          base: main
