# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: release
run-name: release ${{ github.sha }} by @${{ github.actor }}

on:
  # when triggered by pipeline.yml
  workflow_call:
  # when manually triggered
  workflow_dispatch:
  # on pushes to main branch
  push:
    branches:
      - main
    paths:
      - "**/**.go"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          # Allow goreleaser to access older tag information.
          fetch-depth: 0
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: "go.mod"
          cache: true
      - name: Run go-semantic-release
        uses: go-semantic-release/action@2e9dc4247a6004f8377781bef4cb9dad273a741f # v1.24.1
        with:
          hooks: goreleaser
          allow-initial-development-versions: true
          prerelease: ${{ github.ref_name == 'main' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
