# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: scripts
on: workflow_call

env:
  BATS_VERSION_TAG: 1.11.0

jobs:
  lint-shell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: reviewdog/action-shellcheck@5ebd09ddbe2ebb471646ce234c6c8dd18663ca7c # v1.30.0
        with:
          pattern: |
            *.bash
            *.sh
            hooks/*

  test-bats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: bats-core/bats-action@42fcc8700f773c075a16a90eb11674c0318ad507 # 3.0.1
        with:
          bats-version: ${{ env.BATS_VERSION_TAG }}
          detik-install: false
          assert-install: true
          support-install: true
          file-install: true
      - name: Run BATS tests
        shell: bash
        env:
          BATS_LIB_PATH: ${{ steps.setup-bats.outputs.lib-path }}
          TERM: xterm
        run: bats test/scripts
